@using ForkFrontend.Razor.Components.Shared.Icons
<div style="@SizeString"
class="@(IsDisabled ? "opacity-25 cursor-not-allowed" : $"cursor-pointer hover:text-{HoverColor}")
        @(NoBackground ? "text-new-offwhite" : "text-new-black bg-new-offwhite")
         flex justify-center items-center"
@onclick="ClickHandler">
    @* <span class="icon" style="font-size: @IconSizeString">@IconChar</span> *@
    @Icon
</div>

@code {
    [Parameter] [EditorRequired] public EventCallback<IconButton> OnClickMethod { get; set; }

    [Parameter] public RenderFragment? Icon { get; set; }

    [Parameter] public int? Size { get; set; }

    [Parameter] public bool NoBackground { get; set; } = false;

    [Parameter] public string HoverColor { get; set; } = "label-hover";

    [Parameter] public bool IsDisabled { get; set; }

    private string SizeString => Size.HasValue ? $"width: {Size}px; height: {Size}px;" : "";

    public new void StateHasChanged()
    {
        base.StateHasChanged();
    }

    private async Task ClickHandler()
    {
        if (!IsDisabled && OnClickMethod.HasDelegate)
        {
            await OnClickMethod.InvokeAsync(this);
        }
    }

}